@import "compass"
@import "compass/reset"

html, body, #map-canvas
  height: 100%
  width: 100%
  font-family: "Exo 2", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased

a
  color: #00bbff
  text-decoration: none
  +transition(color 0.5s ease-in-out)
  &:hover
    color: #66d7ff
  &:active
    color: #005675

#plow-ids
  position: absolute
  top: 0
  left: 0
  z-index: 100

#info
  .infobutton, .expanded
    position: fixed
    top: 1%
    left: 0
    min-height: 40px
    background: #000
    color: #fff
    font-size: 16px
    line-height: 40px
    +border-radius(0 10px 10px 0)
    +box-shadow(0 0 1em rgba(255,255,255, 0.1))
  .infobutton
    cursor: pointer
    width: 70px
    z-index: 300
    font-size: 18px
    text-align: center
  .expanded
    z-index: 200
    width: 100%
    max-width: 320px
    padding: 0 30px 0 80px
    line-height: 20px
    +translate(-500px, 0)
    +transition(all 1s ease-in-out)
    small
      display: inline-block
      padding: 40px 0
    p, ul
      padding-bottom: 1em
      &:last-child
        padding-bottom: 0
    ul
      list-style: none
      li:before
        content: "■"
        padding-right: 1em
      .kv:before
        color: #84ff00
      .au:before
        color: #ff6600
      .su:before
        color: #ff0113
      .hi:before
        color: #cc00ff
      .other:before
        color: #ffffff
  &:hover
    .expanded
      +translate(0, 0)

#time-filters
  position: fixed
  z-index: 9000
  top: 1%
  right: 0
  li
    min-height: 40px
    background: #000
    color: #fff
    font-size: 16px
    line-height: 40px
    cursor: pointer
    text-align: center
    background: #000
    width: 120px
    color: #fff
    margin-bottom: 0.5em
    +border-radius(10px 0 0 10px)
    +box-shadow(0 0 1em rgba(255,255,255, 0.1))
    +transition(all 0.75s ease-in-out)
    &.active, &:hover
      background-color: #fff
      color: #000
